.MediaCard {
    
}

.MediaCard .card {
    display: flex;
}

.MediaCard .icon {
    font-size: 1.8em;
    margin: 5px 3px;
    cursor: pointer;
}

.MediaCard .actions {
    display: flex;
}

.MediaCard .highLight {
    color: yellow;
}



