.MediaCard {
    
}

.MediaCard .card {
    display: flex;
}

.MediaCard .icon {
    font-size: 1.8em;
    margin: 5px 3px;
}

.MediaCard .content {
    display: flex;
    width: 400px;
    height: 200px;
    cursor: pointer;
}

