.Favourites {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.Favourites .onboarding {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: -17%;
}

.Favourites .noFavImage {
    width: 50%;
    margin-top: 10%;
}

.Favourites h1 {
    color: #495057;
}

.Favourites .card {
    margin: 0.5em;
    border: 1px solid transparent;
}

.Favourites .items {
    height: 100%;
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 12em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Favourites .MediaCard .card:hover {
    background: rgba(33, 150, 243, 0.08);
    border: 1px solid #2196f3;
}

.Favourites .MediaCard .content {
    display: flex;
    width: 390px;
    height: 200px;
    cursor: pointer;
}