.Favourites {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.Favourites .onboarding {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: -17%;
}

.Favourites .noFavImage {
    width: 50%;
    margin-top: 10%;
}

.Favourites h1 {
    color: #495057;
}