.FormDialog {
    
}

.collectionImage {
    width: 30%;
}

.dialogDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogDisplay p {
    margin-left: 2em;
}

h4 {
    color: #495057;
    padding: 3px 0 10px 0;
    margin: 0;
}