.Home {
    height: 100%;
}

.Home .toolbox {
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 64px;
    align-items: center;
    padding: 1em 2em;
}

.Home .card {
    margin: 0.5em;
}

.Home .items {
    height: 100%;
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 12em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Home .MediaCard .card:hover {
    background: rgba(33, 150, 243, 0.08);
}