@media all and (min-width: 480px) {}

.ForgotPassword {
    padding: 10vh 0;
    width: 100%;
}

.ForgotPassword form {
    margin: 0 auto;
    max-width: 320px;
}

.ForgotPassword form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
}

.ForgotPassword .paper {
    margin: 0 auto;
    max-width: 400px;
    padding: 3em 0;
}

.ForgotPassword .loaderButton {
    margin-top: 10px;
}

.ForgotPassword .secondary {
    color: #ff1744;
}

.ForgotPassword .back {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    text-decoration: underline;
}