.SideBar .catList {
    width: 100%;
    margin-top: 1em;
}

.SideBar .active {
    background: rgba(33, 150, 243, 0.08);
}

.SideBar .addContainer {
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: center;
    width: 90%;
}

.SideBar .addContainer button {
    text-align: center;
    justify-content: center;
}

.SideBar .addCategoryField {
    justify-content: center;
}

.SideBar .subHeader {
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    box-sizing: border-box;
    list-style: none;
    line-height: 48px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
}