.App {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;
}

.App .navbar-brand {
    font-weight: bold;
}

.App .root {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}


.App .menuButton {
    margin-left: -12px;
    margin-right: 20px;
}

.App .secondary {
    color: #ff1744;
}

.App .loader {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
