.Maintenance {
    height: 100%;
    width: 100%;
}

.Maintenance .loader {
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}

.Maintenance .toolbox {
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3em;
}

.Maintenance .card {
    margin: 0.5em;
}

.Maintenance .items {
    height: 100%;
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 12em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Maintenance .MediaCard .content {
    display: flex;
    width: 390px;
    height: 200px;
}
